@charset "UTF-8";

@font-face{
    font-family: Playfair_display ;
    src: url('Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('wght'); 
}

body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}
header{
    background-color: rgb(3, 3, 3);
    height: 200px;
    width: auto;   
    color:white;
    text-align: center;
    margin-top: 0px;
    padding-top: 10px;
    font-variant: small-caps;

   
    

    
}
h1{     font-size: 60px;
        margin-top:10px;
}

a{      color:white;}

p{
        
        font-family: 'Playfair_display';
        font-size: 30px;
        line-height: 2em ;
    
    
      
  
}
#id{    padding-top: 10vh;
        padding-bottom: 10vh;}

#b{
        background:black url(pacote-d012/imagens/background001.jpg) center no-repeat fixed;
        background-size: cover;
       
       
        width: 100%;
        color: white;
        padding-bottom: 8%;

}
pre>p>#id{
    background-color: black;
    width: 400px;
}

#d{
    background: black url(pacote-d012/imagens/background002.jpg) center no-repeat fixed;
    height: 100%;
    background-size: cover;
    padding: 4%;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    
    
}